/* about container */
.AboutContainer {
    margin-top: 0;
}
    /* about container headers */
    .AboutContainer > h1 {
        margin: 3em 0 1em 0;
        color: var(--white-color);
    }
    .AboutContainer > a {
        margin: 4em 0 1em 0;
        padding: 1em 2em 1em 2em;
        text-align: center;
        color: var(--white-color);
        background-color: var(--grey-color);
    }
/* about us container */
.AboutUsContainer {
    font-size: var(--med-text);
    width: clamp(var(--min-screen-width), 90%, 1000px);
    color: var(--white-color);
}
/* contact container */
.ContactContainer {
    width: clamp(var(--min-screen-width), 100%, 800px);
    color: var(--white-color);
    background-color: var(--grey-color);
}
    /* contact container content*/
    .ContactContainer > div {
        align-items: center;
        gap: 1em;
        padding: 2em;
    }