.FooterContainer {
    gap: 1em;
    margin-top: 4em;
    padding: 1em;
    color: var(--white-color);
    background-color: var(--grey-color);
}
    .FooterContent {
        flex-wrap: wrap;
        gap: 2em 0;
        justify-content: space-around;
        width: 100%;
        padding: 1em;
        color: var(--white-color);
        background-color: var(--grey-color);
        text-align: center;
    }
        .FooterContent h1:first-child {
            font-size: var(--large-text);
            width: 100%;
            margin-bottom: 0.5em;
            border-bottom: 1px solid var(--white-color);
        }
        .FooterContent h1:nth-child(n + 2) {
            font-size: var(--small-text);
            margin-bottom: 0.5em;
        }
        .FooterContent a {
            font-size: var(--med-text);
            margin-bottom: 0.5em;
        }