.FooterContainer {
    gap: 1em;
    margin-top: 4em;
    padding: 1em;
    color: var(--white-color);
    background-color: var(--grey-color);
}
    .FooterContent {
        flex-wrap: wrap;
        gap: 2em;
        width: 100%;
        color: var(--white-color);
        background-color: var(--grey-color);
        text-align: center;
    }
        .FooterContent div {
            width: clamp(100px, 100%, 250px);
        }
        /* header text */
        .FooterContent h1:first-child {
            margin-bottom: 0.5em;
        }
        .FooterContent a {
            font-size: var(--med-text);
        }
.FooterContainer > div:last-child {
    margin-top: 4em;
}