/* Banner Container */
.BannerContainer {
    padding-top: 4em;
    background-color: var(--primary-color);
}
    .BannerContainer > img {
        height: 50%;
        width: clamp(var(--min-screen-width), 100%, 400px);
    }
/* Game Slider Container */
.GameSliderContainer {
    padding: 0;
}
/* Join Game Container */
.JoinContainer {
    width: 100%;
}
    .JoinContainer a {
        margin-top: 1em;
        padding: 0.5em 2em 0.5em 2em;
        border-radius: 10px;
        text-align: center;
        color: var(--white-color);
        background-color: var(--grey-color);
    }
/* Subtitle container */
.SubTitle {
    margin-top: 2em;
    padding: 1em;
    padding-left: 10%;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
}
/* About Us Container */
.AboutUsContainer {
    width: clamp(var(--min-screen-width), 100%, 1400px);
    margin: 0 auto 0 auto;
    margin-top: 2em;
    color: var(--white-color);
}
    /* updates link */
    .AboutUsContainer > a {
        margin: 4em 0 1em 0;
        padding: 1em 2em 1em 2em;
        text-align: center;
        color: var(--white-color);
        background-color: var(--grey-color);
    }
    /* About Us first Container */
    .AboutUsContainer > div {
        flex-wrap: wrap;
        gap: 3em 0;
        width: 100%;
    }
    /* image */
    .AboutUsContainer img {
        height: 16em;
        width: clamp(var(--min-screen-width), 96%, 500px);
        object-fit: fill;
    }
    /* text */
    .AboutUsContainer p {
        align-self: flex-start;
        padding: 1em;
        width: clamp(var(--min-screen-width), 96%, 500px);
        font-size: var(--med-text);
    }