.PopUpOuter {
    position: fixed;
    inset: 0;
    background-color: var(--blur-color);
    z-index: 99;
}
.PopUpInner {
    position: relative;
    margin: 1em;
    padding: 1em;
    height: 100%;
    width: clamp(200px, 90%, 1000px);
    text-align: center;
    background-color: var(--white-color);
    overflow-y: scroll;
    animation: popUp 0.3s ease;
}
    .PopUpInner img:first-child {
        width: 40px;
        cursor: pointer;
    }
    .PopUpInner h1 {
        overflow: visible;
    }
    .PopUpInner img {
        width: 90%;
        margin: 0.5em;
    }
    @keyframes popUp {
        0% { width: 0; }
        100% { width: clamp(200px, 90%, 1000px); }
    }
    .PopUpInner div {
        gap: 1em;
    }