.GamesContainer {
    padding: 2em 0 2em 0;
}
    .GamesContainer > h1 {
        padding: 1em 0 1em 0;
    }
    .GamesContent {
        gap: 1em;
        width: 96%;
        flex-wrap: wrap;
    }
        .GamesItem {
            gap: 1em;
            width: clamp(200px, 100%, 500px);
            padding-bottom: 2em;
            justify-content: flex-start;
            background-color: var(--white-color);
        }
            .GamesItem img {
                width: 100%;
            }
            .GamesItem h1 {
                width: 96%;
                text-align: left;
            }