/* game container */
.GameContainer {
    width: 100%;
}
/* game image */
.GameImage {
    padding-bottom: 3em;
    transition: background-color 1s ease-in-out;
}
    .GameImage a {
        display: flex;
        justify-content: center;
    }
    .GameImage a img {
        height: 100%;
        max-height: 300px;
        width: 96%;
    }
    /* animation for slides */
    .SlideHide {
        opacity: 0;
    }
    .SlideShow {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
/* arrow container */
.ArrowContainer {
    position: relative;
    justify-content: space-around;
    bottom: 4.8em;
    padding: 1.5em 0 1.5em 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
    .ArrowContainer h1 {
        text-align: center;
        color: var(--white-color);
        overflow-wrap: break-word;
    } 
    .ArrowContainer img:first-child {
        cursor: pointer;
    } 
    .ArrowContainer img:last-child {
        cursor: pointer;
    }