/* desktop nav style */
.DesktopNavContainer {
    display: none;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.5em;
    background-color: var(--dark-color);
    z-index: 91;
}
    .DesktopNavContainer img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
    /* link container */
    .DesktopNavContainer > div {
        margin-left: auto;
        margin-right: 1em;
        gap: 2em;
    }
        .DesktopNavContainer a {
            color: var(--white-color);
        }

/* mobile nav style */
.MobileNavContainer {
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.3em;
    background-color: var(--dark-color);
    z-index: 91;
}
    .MobileNavContainer a img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .MobileNavContainer img {
        height: 30px;
        width: 30px;
        margin-left: auto;
        cursor: pointer;
    }
/* mobile nav popup style */
.MobileNavPopup {
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    z-index: 90;
}
.MobileNavHide {
    width: 0;
    transition: all 0.5s ease-in-out;
}
.MobileNavShow {
    width: 100%;
    transition: all 0.3s ease-in-out;
}
    .MobileNavPopup > div {
        gap: 2em;
        height: 86vh;
        padding: 2em;
        padding-top: 6em;
        background-color: var(--dark-color);
    }
    .MobileNavPopup > div > a {
        font-size: var(--large-text);
        color: var(--primary-color);
    }

/* media queries */
@media only screen and (min-width: 850px) {
    .MobileNavContainer {
        display: none;
    }
    .DesktopNavContainer {
        display: flex;
    }
}