/* Banner */
.BannerContainer {
    background-color: var(--primary-color);
}
    .BannerContainer img {
        width: clamp(160px, 35%, 250px);
        object-fit: cover;
        background-color: var(--primary-color);
    }
/* mobile nav */
.MobileNavContainer {
    justify-content: center;
    align-items: flex-end;
    background-color: var(--primary-color);
}
.MobileNavContainer img {
    padding: 1em;
    width: 25px;
    cursor: pointer;
}
    /* nav content */
    .MobileNavContent {
        position: fixed;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: var(--dark-color);
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 99;
    }
        .MobileNavContent a {
            width: 100%;
            padding: 0.5em;
            text-align: center;
            font-size: var(--large-text);
            color: var(--primary-color);
        }
        .MobileNavContent img {
            position: relative;
            left: 40%;
            top: 1em;
            width: 25px;
            padding: 0.5em;
            margin-bottom: 1em;
            cursor: pointer;
        }
/* desktop nav */
.DesktopNavContainer {
    gap: 1em;
    padding: 0.5em;
    background-color: var(--primary-color);
}
    .DesktopNavContainer a {
        padding: 0.5em 2em 0.5em 2em;
        border-radius: 10px;
        font-size: var(--small-text);
        font-weight: 700;
        color: var(--primary-color);
        background-color: var(--dark-color);
    }
@media only screen and (max-width: 1000px) {
    .DesktopNavContainer {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .MobileNavContainer {
        display: none;
    }
}