/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	font-family: 'Roboto', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

/* root */
:root {
	--primary-color: #FED261;
	--primaryli-color: #FFE5A4;
	--dark-color: #413D34;
	--grey-color: #6f6f6f;
	--greyli-color: #a3a3a3;
	--white-color: #fcfcfc;

	--small-text: 1rem;
	--med-text: 1.3rem;
	--large-text: 1.8rem;
	--xlarge-text: 2.8rem;
}

/* DOM tags */
#__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: var(--primaryli-color);
	background-image: url('/applogo-socialfunc.png');
}
main {
	min-height: 100vh;
    width: clamp(200px, 100%, 1450px);
    background-color: var(--dark-color);
}

/* global flex */
.FlexCol {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.FlexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* global form */
form {
	display: flex;
	flex-direction: column;
	width: clamp(200px, 75%, 350px);
	padding: 1em;
	gap: 1em;
}
	form h1 {
		text-align: center;
		color: var(--white-color);
		font-size: var(--med-text);
		font-weight: 700;
	}
	form label {
		color: var(--white-color);
		font-size: var(--med-text);
		font-weight: 700;
	}
	form input[type='text'] {
		padding: 0.6em;
		font-size: var(--med-text);
		border: 0;
		border-radius: 8px;
		font-weight: 700;
		color: var(--dark-color);
		background-color: var(--primaryli-color);
	}
	form button {
		margin: 1em 0 1em 0;
		padding: 0.6em;
		width: 100%;
		font-size: var(--med-text);
		border: 0;
		border-radius: 8px;
		font-weight: 700;
		background-color: var(--primary-color);
		color: var(--dark-color);
		cursor: pointer;
	}

/* global collaspable */
.CollapseHeightOpen {
	top: 0;
	transition: all 0.5s ease-in-out;
}
.CollapseHeightClosed {
	top: -100vh;
	transition: all 0.5s;
}

/* global text */
h1.LineText {
	display: flex;
	flex-direction: row;
}
	h1.LineText > text {
		margin: 0 0.5em 0 0.5em;
	}
	h1.LineText hr {
		flex: 1;
		color: var(--white-color);
	}
.MainHeadText {
	font-weight: 700;
	font-size: var(--xlarge-text);
}
.HeadText {
	font-weight: 700;
	font-size: var(--large-text);
}
.SubHeadText {
	font-weight: 400;
	font-size: var(--med-text);
	overflow: hidden;
	overflow-wrap: break-word;
}

.BoldText {
	font-weight: 700;
}
.GreyText {
	color: var(--grey-color);
}
.BlackText {
	color: var(--dark-color);
}
.YellowText {
	color: var(--primary-color);
}
.WhiteText {
	color: var(--white-color);
}
