/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	font-family: 'Roboto', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

/* root */
:root {
	--primary-color: #FED261;
	--primaryli-color: #FFE5A4;
	--dark-color: #413D34;
	--grey-color: #4f555d;
	--white-color: #fcfcfc;

	--small-text: 1rem;
	--med-text: 1.3rem;
	--large-text: 1.8rem;

	--min-screen-width: 200px;
}

/* DOM tags */
#__next {
	min-height: 100vh;
	background-color: var(--primaryli-color);
	background-image: url('/applogo-socialfunc.png');
	overflow: hidden;
}

main {
	background-color: var(--dark-color);
}

/* display flex */
.FlexRow {
	display: flex;
}
	.FlexRowCenter {
		display: flex;
		justify-content: center;
		align-items: center;
	}
.FlexCol {
	display: flex;
	flex-direction: column;
}
	.FlexColCenter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

/* text styles */
.HeadText {
	font-weight: 700;
	font-size: var(--large-text);
}
.SubHeadText {
	font-weight: 700;
	font-size: var(--medium-text);
}
.SplitText {
	display: flex;
	color: var(--white-color);
	font-size: var(--medium-text);
}
	.SplitText hr {
		width: 100%;
		color: var(--white-color);
	}
	.SplitText h1 {
		margin: 0 0.5em 0 0.5em;
		font-weight: 700;
	}