/* LandingContainer */
.LandingContainer img {
    padding: 0.5em;
    width: clamp(200px, 60%, 300px);
    object-fit: cover;
    background-color: var(--primary-color);
}
    .LandingContainer .BannerContainer {
        background-color: var(--primary-color);
    }
.LandingContainer > h1 {
    padding: 1.5em;
    font-weight: 700;
    color: var(--white-color);
}
.InfographicContainer {
    gap: 1em;
    padding: 2em 0 2em 0;
    width: 80%;
    background-color: var(--primarymed-color);
}
    .InfographicContent {
        gap: 1em;
        width: clamp(100px, 80%, 800px);
    }

.UpdatesContainer {
    width: 100%;
    padding: 4em 0 4em 0;
    background-color: var(--white-color);
    background-image: url('/applogo-socialfunc.png');
}
    .UpdatesContainer .UpdatesContent {
        z-index: 99;
        gap: 1em;
        width: clamp(100px, 80%, 700px);
        margin-bottom: 0.1em;
        padding: 2em;
        background-color: var(--white-color);
        box-shadow: 0 0 0.5em var(--dark-color);
        transition: all 0.2s;
    }
    .UpdatesContainer .UpdatesContent:hover {
        padding-top: 4em;
        padding-bottom: 4em;
        transition: all 0.2s;
    }
        .UpdatesContainer .UpdatesContent h1 {
            align-self: flex-start;
        }
        .UpdatesContainer .UpdatesContent h1:last-child {
            font-size: var(--small-text);
            color: var(--grey-color);
        }