/* LandingContainer */
.LandingContainer > img {
    padding: 0.5em;
    width: clamp(200px, 60%, 300px);
    object-fit: cover;
    background-color: var(--primary-color);
}
    .LandingContainer .BannerContainer {
        background-color: var(--primary-color);
    }
.LandingContainer > h1 {
    padding: 1em;
    font-weight: 700;
    color: var(--white-color);
}

/* game container */
.GameContainer {
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1px;
    height: 18em;
    width: clamp(100px, 100%, 800px);
    margin-bottom: 3em;
}
    .GameContainer a {
        flex: 1;
        height: 15em;
        cursor: pointer;
        transition: all 0.5s;
        overflow: hidden;
    }
        .GameContainer a:hover {
            margin-bottom: 1.5em;
            border-bottom: 0.5rem solid var(--primary-color);
            transition: all 0.3s;
        }
        .GameContainer a img {
            height: 100%;
            filter: brightness(20%) opacity(70%);
        }
            .GameContainer a h1 {
                position: relative;
                bottom: 50%;
            }



    
.InfographicContainer {
    gap: 1em;
    padding: 1.5em;
    width: clamp(100px, 80%, 800px);
    background-color: var(--primary-color);
}
    .InfographicContainer h1 {
        padding: 0.5em;
    }

.UpdatesContainer {
    width: 100%;
    padding: 4em 0 4em 0;
    background-color: var(--white-color);
    background-image: url('/applogo-socialfunc.png');
}
    .UpdatesContainer .UpdatesContent {
        z-index: 2;
        gap: 1em;
        width: clamp(100px, 80%, 700px);
        margin-bottom: 0.1em;
        padding: 2em;
        background-color: var(--white-color);
        box-shadow: 0 0 0.5em var(--dark-color);
        transition: all 0.2s;
        cursor: pointer;
    }
    .UpdatesContainer .UpdatesContent:hover {
        padding-top: 4em;
        padding-bottom: 4em;
        transition: all 0.2s;
    }
        .UpdatesContainer .UpdatesContent h1 {
            align-self: flex-start;
        }
        .UpdatesContainer .UpdatesContent h1:last-child {
            color: var(--grey-color);
        }